#!/bin/bash

/usr/sbin/sshd
HADOOP_HOME={{ HADOOP_COMMON_HOME }}
su hadoop -c "$HADOOP_HOME/sbin/start-dfs.sh"
su hadoop -c "$HADOOP_HOME/sbin/start-yarn.sh"

su hadoop -c "$HADOOP_HOME/bin/hdfs dfs -mkdir -p /edx-analytics-pipeline/packages/"
su hadoop -c "$HADOOP_HOME/bin/hdfs dfs -put -f {{ HADOOP_COMMON_USER_HOME }}/lib/edx-analytics-hadoop-util.jar /edx-analytics-pipeline/packages/"
su hadoop -c "$HADOOP_HOME/bin/hdfs dfs -mkdir -p {{ ANALYTICS_PIPELINE_HDFS_DATA_DIR }}"